<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adding Course</title>
</head>
<body>
<p th:if="${createdCourse}">Course <span th:text="${createdCourse.name}"></span> added in: <span th:text="${createdCourse.city}"></span></p>
<p th:unless="${createdCourse}">Creating new course: </p>
<form th:action="@{'/course/add'}" th:object="${course}" th:method="'post'">
    <label for="course-name">Course Name: </label>
    <input type="text" id="course-name" th:field="*{name}"><br>
    <label for="city-select">City: </label>
    <select id="city-select" th:field="*{city}">
    <option th:each="city: ${cityList}" th:text="${city}" th:value="${city}"></option>
</select><br>
    <label for="start-date">Start date: </label>
    <input type="date" id="start-date" th:field="*{startDate}"><br>
    <label for="finish-date">Finish date: </label>
    <input type="date" id="finish-date" th:field="*{finishDate}"><br>
    <label for="price">Price: </label>
    <input type="number" id="price" th:field="*{price}"><br>
    <label for="mode">Course mode: </label>
    <select id="mode" th:field="*{mode}">
        <option th:each="mode: ${modes}" th:text="${mode.getDescription()}" th:value="${mode}"></option>
    </select><br>
    <label for="trainer">Trainer: </label>
    <select id="trainer" th:field="*{trainer}">
        <option th:each="trainer: ${trainerList}" th:text="${trainer}" th:value="${trainer}"></option>
    </select><br>
    <input type="submit" value="Save">
</form>
</body>
</html>
