<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course list</title>
</head>
<body>
<h1 th:text="${id}"></h1>
<table>
    <tr>
        <th>ID</th>
        <th>Course Name</th>
        <th>Start Date</th>
        <th>Finish Date</th>
        <th>City</th>
        <th>Price</th>
        <th>Mode</th>
        <th>Trainer</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Java from scratch</td>
        <td>05-11-2019</td>
        <td>05-12-2020</td>
        <td>Warsaw</td>
        <td>15.000PLN</td>
        <td>DAY</td>
        <td>Wojciech Potocki</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Python from scratch</td>
        <td>05-12-2019</td>
        <td>05-11-2020</td>
        <td>Wrocław</td>
        <td>12.000PLN</td>
        <td>EVENING</td>
        <td>Adam Abacki</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Tester from scratch</td>
        <td>04-01-2020</td>
        <td>05-16-2020</td>
        <td>Łódź</td>
        <td>8.000PLN</td>
        <td>EXTRAMURAL</td>
        <td>Bartosz Babacki</td>
    </tr>
</table>
</body>
</html>
