<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adding trainer</title>
    <link rel="stylesheet" th:href="@{/user/add-trainer.css}">
</head>
<body>
<div>
    <li th:each="errorMessage: ${errorMessages}" th:text="${errorMessage}"></li>
</div>
<p>Add Trainer: </p>
<form th:action="@{'/user/add-trainer'}" th:method="'post'" th:object="*{user}">
    <label for="name">First Name: </label>
    <input type="text" id="name" th:field="*{firstName}" th:classappend="${#fields.hasErrors('firstName')} ? 'error-input'"><br>
    <label for="last-name">Last name: </label>
    <input type="text" id="last-name" th:field="*{lastName}" th:classappend="${#fields.hasErrors('lastName')} ? 'error-input'"><br>
    <label for="student-email">E-mail: </label>
    <input type="text" id="student-email" th:field="*{email}" th:classappend="${#fields.hasErrors('email')} ? 'error-input'"><br>
    <label for="student-phone">Phone number: </label>
    <input type="text" id="student-phone" th:field="*{phone}"><br>
    <label for="hour-price">Hour Price: </label>
    <input type="number" id="hour-price" th:field="*{hourPrice}"><br>
    <input type="submit" value="Save">
</form>
</body>
</html>
