<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="welcome">
    <h1 sec:authorize="isAuthenticated()">Welcome <span th:text="${user.getFirstName()}"></span>, actions available for you:</h1>
    <h1 sec:authorize="isAnonymous()">Welcome Stranger, actions available for you: </h1>

</div>

<div th:fragment="menu">
    <form action="/course/list">
        <button type="submit">View Course List</button><br><br>
    </form>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <form action="/course/add">
            <button type="submit">Add course</button><br><br>
        </form>
        <form action="/admin/user/list">
            <button type="submit">User list</button><br><br>
        </form>
    </div>
    <div sec:authorize="hasRole('ROLE_TRAINER')">
        <form th:action="@{/trainer-dashboard/courses}" th:method="'post'">
            <button type="submit">View My courses</button><br><br>
        </form>
        <form action="/admin/user/edit">
            <button type="submit">Edit profile</button><br><br>
        </form>
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        <form action="/course/list">
            <button type="submit">View my courses</button><br><br>
        </form>
        <form action="/admin/user/edit">
            <button type="submit">Edit profile</button><br><br>
        </form>
    </div>
    <form sec:authorize="isAnonymous()" th:action="@{/login}" th:method="post">
        <button type="submit">Login</button><br><br>
    </form>
    <form sec:authorize="isAuthenticated()" action="/logout">
        <button type="submit">Logout</button><br><br>
    </form>
</div>

</body>
</html>
