<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BootCamp</title>
    <link rel="stylesheet" th:href="@{home.css}">
</head>
<body>
<h1>Welcome to bootcamp manager</h1>
<h2>What do you want to do:</h2>
<div>
    <form th:action="@{'/action'}" th:method="'post'">
        <button type="submit" name="action" value="courses">Display course list</button>
        <button type="submit" name="action"} value="users">Display user list</button>
    </form>
</div>


</body>
</html>
