button, input.small {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #1C6EA4;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

html{
    background-color: aliceblue !important;
    font-family: "Segoe UI Light"
}

body{
    background-color: aliceblue
}
